doctype html
html(lang='en')
	head
		meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
		meta(name='viewport' content="width=device-width, initial-scale=1, shrink-to-fit=no")
		
		block head
		title #{pageTitle} | Компания "Прайм Прайд"
		meta(name='description' content=pageDescription || '')
		meta(name='keywords' content=pageKeywords || '')

		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" type="text/css" media="all")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.css" type="text/css" media="all")
		link(href='assets/css/pp.min.css?v=1' rel='stylesheet')
			
		script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous" defer="defer")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.js" defer="defer")
		script(src='assets/js/pp.min.js?v=1' defer="defer")

		link(rel="icon" href="favicon.ico" type="image/x-icon")
		link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
		link(rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png")
		link(rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png")
	body(class=bodyclass)
		include  ../includes/header.pug
		
		block content

		include ../includes/footer.pug